.rosters-page {
  text-align: left;
}

.team-group {
  margin-bottom: 40px;
}

.team-group h2 {
  font-family: var(--mono);
  font-size: 18px;
  color: var(--text-h);
  margin-bottom: 12px;
}

.rosters-page .player-grid {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formation-row {
  display: flex;
  justify-content: center;
  gap: 16px;
}
